@use 'scss-properties' as prop;
@use 'sass-themes' as themes;

@mixin active {
  &:hover,
  &:focus-visible,
  &--active {
    @content;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @content;
    }
  }
}

@layer components {
  .spotlight-button {
    --translate: 0, 0;
    --active-transition: 300;
    --opacity: #{themes.if-light(0.14, 0.3)};
    --color: var(--theme-br);
    --scale: 1.35;
    @apply relative z-10 block;

    & > * {
      @apply pointer-events-none;
    }

    &::before {
      --dur: calc(var(--active-transition, 300) * 1ms);
      content: '';
      @apply pointer-events-auto absolute m-auto aspect-square;
      top: 50%;
      left: 50%;
      right: 50%;
      bottom: 50%;
      border-radius: 100%;
      background-color: gray;
      background-color: var(--color, gray);
      opacity: 0.5;
      opacity: var(--opacity, 0.5);
      transform: translate(var(--translate, 0, 0));
      transition: transform 80ms, left 300ms, right 300ms, top 300ms,
        bottom 300ms;
      transition: transform 80ms, left var(--dur), right var(--dur),
        top var(--dur), bottom var(--dur);
      z-index: -1;
    }

    @include active {
      &::before {
        top: -20%;
        left: -20%;
        right: -20%;
        bottom: -20%;
      }
    }
  }

  .box-shadow-button {
    --transition: 300ms;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--theme-br);
      transition-duration: 300ms;
      transition-duration: var(--transition, 300ms);
      transition-property: transform;
    }

    @include active {
      &::before {
        transform: translate(-8px, 8px);
      }
    }
  }

  %clip {
    --transition: 300ms;
    --initial-delay: 0s;
    transition-duration: 300ms;
    transition-duration: var(--transition, 300ms);
    transition-property: clip-path;
    transition-timing-function: ease-out;

    @include active {
      transition-delay: 0s;
      transition-delay: var(--initial-delay, 0s);
    }
  }

  .clip-reveal {
    @extend %clip;
    clip-path: polygon(-30% 0, 0 0, 0 100%, 0 100%);
    // clip-path: polygon(0 0, 0 0, 100% 100%, 100% 100%, 100% 100%, 0 0);
    // clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);

    @include active {
      clip-path: polygon(100% 0, 0 0, 0 100%, 150% 100%);
      // clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
      // clip-path: polygon(100% 0, -50% 0, 0 100%, 150% 100%);
    }
  }

  .clip-hide {
    @extend %clip;
    clip-path: polygon(-30% 0, 100% 0, 100% 100%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    // clip-path: polygon(100% 0, -50% 0, 0 100%, 150% 100%);

    @include active {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 150% 100%);
      // clip-path: polygon(0 0, 0 0, 100% 100%, 100% 100%, 100% 100%, 0 0);
      // clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
    }
  }
}
