$transition: 300ms;

.project {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-br);
    transition: $transition;
    transition-property: transform;
  }

  &:hover::before {
    transform: translate(-8px, 8px);
  }

  &__hover-layer {
    transition: $transition;
    transition-property: clip-path;
    transition-timing-function: ease-out;
    /* clip-path: polygon(0 0, 0 0, 100% 100%, 100% 100%, 100% 100%, 0 0); */
    clip-path: polygon(-30% 0, 0 0, 0 100%, 0 100%);
    /* clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%); */
  }

  &:hover &__hover-layer {
    transition-delay: 120ms;
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 100%); */
    clip-path: polygon(100% 0, 0 0, 0 100%, 150% 100%);
    /* clip-path: polygon(100% 0, -50% 0, 0 100%, 150% 100%); */
  }
}
