---
import '@styles/icons.scss';
import Layout from '@layouts/Base.astro';
import Header from '@components/Header.astro';
import ProjectGrid, { ProjectPreviewData } from '@components/ProjectGrid';
import { contactLinks } from '@data/site';
import {
  getExcerpt,
  generateImages,
  getPreviewLinks,
  getIconsFromTags,
} from '@data/projects';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');

const projectPreviews: ProjectPreviewData[] = await Promise.all(
  projects.map(async (project) => {
    const sizes =
      '(min-width: 1536px) 484px, (min-width: 1280px) 399px, (min-width: 1024px) 476px, (min-width: 768px) 348px, (min-width: 640px) 284px, 100vw';
    const images = await generateImages(project, sizes);

    return {
      ...project.data,
      id: project.slug,
      links: getPreviewLinks(project),
      images: images,
      excerpt: getExcerpt(project),
      icons: getIconsFromTags(project),
    };
  })
);
---

<Layout title="My projects" colorScheme="dark">
  <div class="relative flex min-h-[60vh] flex-col overflow-hidden bg-gray-900">
    <svg
      class="absolute left-0 top-0 h-full"
      version="1.1"
      viewBox="0 0 433 264"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <linearGradient id="gradient-1">
          <stop offset="0" stop-opacity="0.1"></stop>
          <stop offset="1" stop-opacity="0.5"></stop>
        </linearGradient>
        <linearGradient id="gradient-2" gradientTransform="rotate(60)">
          <stop offset="0" stop-opacity="0.1"></stop>
          <stop offset="1" stop-opacity="0.5"></stop>
        </linearGradient>
        <clipPath id="sloped-div-top" clipPathUnits="objectBoundingBox"
          ><path d="m0,0 c0.7,0.2,1,1,1,1 H0"></path></clipPath
        >
      </defs>
      <g>
        <path fill="url(#gradient-1)" d="m21 264c15-164 47-264 47-264h-68v264z"
        ></path>
        <path fill="url(#gradient-2)" d="m433 0c-206 0-433 58-433 58v-58z"
        ></path>
      </g>
    </svg>
    <Header links={contactLinks} class="mb-[10vh] py-6" />
    <h1
      class="container relative z-10 mx-auto mb-64 mt-8 text-7xl font-extrabold leading-[0.85]"
    >
      Dylan Awalt-Conley
    </h1>
    <p class="container relative z-10 mx-auto mb-8 hidden text-3xl font-light">
      Some of my websites and JavaScript things.
    </p>
  </div>
  <main class="relative">
    <div class="clip-top absolute bottom-full left-0 w-full pb-8 pt-16">
      <div class="container relative mx-auto">
        <h2 class="text-6xl font-extrabold">Work</h2>
        <p class="text-2xl font-extralight">
          Some of my websites and JavaScript&nbsp;things.
        </p>
      </div>
    </div>
    <div class="w-full bg-indigo-950 pb-8">
      <div class="container mx-auto">
        <ProjectGrid
          client:load
          projects={projectPreviews}
          filter="website"
          slideshowInterval={10000}
        />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  #gradient-1 stop {
    stop-color: theme('colors.indigo.900');
  }
  #gradient-2 stop {
    stop-color: theme('colors.rose.900');
  }

  .clip-top::before {
    content: '';
    @apply absolute inset-0 bg-indigo-950;
    min-width: 40rem;
    clip-path: url(#sloped-div-top);
  }
</style>
