---
import IconLink from './IconLink';
import { getIcons, getIconDefinition } from '@data/icons';

export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;

const icons = getIcons(['astro', 'preact', 'typescript', 'tailwind', 'sass']);
const githubIcon = getIconDefinition('github', 'simple');
---

<footer class={`py-4 bg-slate-900 text-indigo-300 ${className}`}>
  <div
    class="container mx-auto items-baseline justify-center text-center sm:flex md:max-w-screen-md"
  >
    <div>
      <p class="mb-1 sm:mb-0 sm:inline">
        &copy; <time datetime="2023">2023</time>
      </p>
      <span class="mx-1 hidden sm:inline">&mdash;</span>
      <p class="sm:inline">
        Built using
        <span class="ml-2 space-x-3 text-lg">
          {
            icons.map(
              ({ name, url, style }) =>
                style.color && (
                  <IconLink
                    icon={style.skill || style.color}
                    url={url}
                    title={name}
                    inline
                  />
                )
            )
          }
        </span>
      </p>
    </div>
    {
      githubIcon && (
        <p class="mt-1 sm:ml-auto sm:mt-0">
          View it on{' '}
          <IconLink
            icon={githubIcon}
            url="https://github.com/dawaltconley/portfolio/"
            class="ml-1 duration-75 hover:text-pink-100 hover:underline"
            inline
          >
            GitHub
          </IconLink>
        </p>
      )
    }
  </div>
</footer>
