---
import IconLink from './IconLink';
import { getIcons, getIconDefinition } from '@data/icons';

export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;

const icons = getIcons(['astro', 'preact', 'typescript', 'tailwind', 'sass']);
const githubIcon = getIconDefinition('github', 'simple');
---

<footer class={`py-4 bg-slate-900 text-indigo-300 ${className}`}>
  <div class="container mx-auto flex flex-wrap justify-between text-center">
    <div class="w-full text-left">
      <span>This site was built using</span>
      <ul class="ml-2 inline-flex space-x-3 text-lg">
        {
          icons.map(
            ({ name, url, style }) =>
              style.color && (
                <li>
                  <IconLink
                    icon={style.skill || style.color}
                    url={url}
                    title={name}
                    inline
                  />
                </li>
              )
          )
        }
      </ul>
    </div>
    {
      githubIcon && (
        <p>
          View the source on{' '}
          <IconLink
            icon={githubIcon}
            url="https://github.com/dawaltconley/portfolio/"
            class="ml-1 duration-75 hover:text-pink-100 hover:underline"
            inline
          >
            GitHub
          </IconLink>
        </p>
      )
    }
    <p>
      Copyright &copy; <time datetime="2023">2023</time>
      Dylan Awalt-Conley
    </p>
  </div>
</footer>
