---
import IconLink from './IconLink';
import { getIcon } from '@lib/icons';

export interface Props {
  links?: string[];
  class?: string;
}

const { links = [], class: className = '' } = Astro.props;
---

<div class={`w-full py-4 ${className}`}>
  <div class="container mx-auto flex h-full items-center justify-end text-xl">
    <slot name="contact-links">
      {
        links.map((url) => {
          const icon = getIcon(url);
          return (
            icon &&
            icon.style.simple && (
              <IconLink
                icon={icon.style.simple}
                url={url}
                title={icon.name}
                class="contact-link spotlight-button -my-2 box-content aspect-square p-2 leading-[0]"
              />
            )
          );
        })
      }
    </slot>
  </div>
</div>
