---
import IconLink from './IconLink.astro';

export interface Props {
  links?: string[];
  class?: string;
}

const { links, class: className } = Astro.props;
---

<div class={`w-full py-4 ${className ?? ''}`}>
  <div class="container flex h-full items-center justify-end space-x-4 text-xl">
    {links && links.map((url) => <IconLink url={url} type="fa" />)}
  </div>
</div>
