---
import Layout from '@layouts/Base.astro';
import { getCollection } from 'astro:content';
import { getExcerpt } from '@data/projects';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects
    .filter((p) => p.data.published)
    .map((project) => ({
      params: { slug: project.slug },
      props: { project },
    }));
}

const { project } = Astro.props;
const { title } = project.data;
const { Content } = await project.render();
---

<Layout title={title} description={getExcerpt(project)}>
  <header>
    <h1>{title}</h1>
  </header>
  <main class="container mx-auto px-4 py-8">
    <Content />
  </main>
</Layout>
