---
import type { ColorScheme } from '@components/ThemeControls';
import '@styles/global.scss';

export interface Props {
  title: string;
  description?: string;
  class?: string;
  colorScheme?: ColorScheme;
}

const { title, description, class: className, colorScheme } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="0" data-color-scheme={colorScheme ?? ''}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  <body class={className ?? ''}>
    <slot />
  </body>
</html>

<!--
<style is:global>
  html {
    font-family: TT Norms, sans-serif;
    font-variant-ligatures: none;
    font-family: Erode-Variable, serif;
    font-family: Zodiak, serif;
    font-family: Martel, serif;
    font-family: Sanchez, serif;
    font-weight: 400;
  }
</style>
-->

<script>
  import { SpotlightButton } from '@browser/spotlight-button';

  document
    .querySelectorAll<HTMLElement>(
      '.spotlight-button:not(.spotlight-button--no-js)'
    )
    .forEach((e) => new SpotlightButton(e));
</script>
