---
import type { ColorScheme } from '@components/ThemeControls';
import Favicon from '@components/Favicon.astro';
import '@styles/global.scss';

export interface Props {
  title: string;
  description?: string;
  class?: string;
  colorScheme?: ColorScheme;
}

const { title, description, class: className, colorScheme } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="0" data-color-scheme={colorScheme ?? ''}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <Favicon />
  </head>
  <body class={className ?? ''}>
    <slot />
    <script>
      import { SpotlightButton } from '@browser/spotlight-button';

      document
        .querySelectorAll<HTMLElement>(
          '.spotlight-button:not(.spotlight-button--no-js)'
        )
        .forEach((e) => new SpotlightButton(e));
    </script>
  </body>
</html>
