---
import '../styles/main.scss';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: TT Norms, sans-serif;
    font-variant-ligatures: none;
    /* font-family: Gotham, sans-serif; */
    /* font-family: Erode, serif; */
    /* font-family: Martel, serif; */
    font-weight: 400;
  }
</style>
