---
import Layout from './Base.astro';

export interface Props {
  title: string;
  class?: string;
}

const { title, class: className } = Astro.props;
---

<Layout title={title} class={`parallax ${className ?? ''}`}>
  <div class="parallax__page">
    <slot />
  </div>
</Layout>

<style is:global lang="scss">
  @use 'parallax';

  .parallax {
    @include parallax.body;

    &__page {
      @include parallax.page;
    }

    &__group {
      @include parallax.group;
    }

    &__bg {
      @include parallax.bg;

      &--md {
        --parallax-depth: -2;
      }
    }
  }
</style>
